<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL</key>
	<dict>
		<key>The Big Picture</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.boston.com/bigpicture/2011/06/obama_us_troop_withdrawal_to_b.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://(www\.)?boston\.com/bigpicture/.*</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
