<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>The Colbert Report</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://thecolbertreport.cc.com/full-episodes/</string>
				<string>http://thecolbertreport.cc.com/videos/167wa0/colbert-report--5-x-five---colbert-moments--guests-gone-wild</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/thecolbertreport\.cc\.com\/(full\-episodes|videos)\/[^/]{6}\/.+</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
</dict>
</plist>
