<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Poker News</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://uk.pokernews.com/video/aussie-millions-2012-lee-nelson-1416888317001.htm</string>
				<string>http://www.pokernews.com/video/pokernews-weekly-january-27-2012-1416722649001.htm</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://(.+)pokernews.com/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
