<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>SkySports</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.skysports.com/video/clips/0,23791,14968_5026262,00.html</string>
				<string>http://www.skysports.com/video/free/0,23791,19599_4171150,00.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.skysports.com/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
